/*
* date:2019/6/25/15:30;
* name:代超
*
* */
.aboutBox{
    width: 100%;
    height: 10rem;
    background: #fff;
}
.abouts{
    width: 100%;
    height: 3.8rem;
    background: #fff;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    margin-top: 0.08rem;
    margin-bottom: 0.2rem;
}
.aboutBox>h2{
    width: 100%;
    text-align: left;
    font-size: 0.16rem;
    font-weight: bold;
    margin-top: 0.3rem;
    padding-left: 5%;
}
.aboutBox>h4{
    font-size: 0.15rem;
    margin-top: 0.2rem;
}
.abouts>h2{
    width: 100%;
    text-align: center;
    font-size: 0.16rem;
    margin-bottom: 0.2rem;
    font-weight: bold;
}
.abouts>h4{
    font-size: 0.15rem;
    margin-top: 0.2rem;

}
.lian{
    font-size:0.15rem ;
}
.aboutList{
    width: 100%;
    padding: 0rem 0.4rem 0rem 0.4rem;
    margin-top: 0.15rem;
}
.aboutList>li{
    margin-bottom: 0.05rem;
}
.aboutList>li:nth-child(4){
    margin-bottom: 0.2rem;
}
.aboutBox>.ab{
    margin-top: 0.4rem;
}





















