/*
* date:2019/6/25/15:30;
* name:代超
*
* */
.footer{
    width: 100%;
    height: 1rem;
    background: rgba(85, 85, 85, 1);
    padding-top: 0.35rem;

}
.footer>h2,h3{
    font-size: 0.13rem;
    color: #fff;
    margin: 0 auto;
    text-align: center;

}















