/*
* date:2019/6/25/15:30;
* name:代超
*
* */
.bannerBox{
    width: 100%;
    height: 1.78rem;
    position: relative;
}
.dian{
    position: absolute;
    bottom: 1%;
    left: 37%;
}

.dian>li{
    width: 0.1rem;
    height: 0.1rem;
    border-radius: 50%;
    background: #fff;
    margin: 0 0.1rem 0 0.1rem;
    float: left;
}
.dian>.re{
    background: red;
}
.bannerBox .txtbox{
    position: absolute;
    left: 0%;
    top: 25%;
    width: 100%
    

}
.bannerBox .txtbox li p{
    font-size: 0.2rem;
    color: #fff;
    width: 100%;
    text-align: center;
    font-weight: 400;
    margin-bottom: 0;
}
.bannerBox .txtbox li .fon{
    width: 100%;
    font-size: 0.12rem;
    text-align: center;
    color: #fff;
    text-indent: 0rem;
    padding: 0 0.1rem 0 0.1rem;
}
.txt{
    display: block
}
.dis{
    display: none;
}
















